.music-card{
   
   
   
  display: flex;

   
    
    
    background-color: rgba(100, 156, 15, 0);
    border-radius: 12px;
   
    margin: 1%;
    height: 20vh;
   
    
}

.music-card .header{
    width: 100%;
    font-size: xx-large;
    font-weight: bolder;
    margin:5px; 
    text-align: center;
    height: fit-content;
}
.music-card iframe{
  width: 100%;
  overflow: hidden;
  max-height: 80px;
border-radius: 0px;
 
}
