.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    grid-gap: 0px;
    position: absolute;
  }
  
  .grid-item1 {
    background-image: url("https://i.pinimg.com/originals/dc/34/38/dc3438726cf5f2f74fd1aa1ba67bc44f.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }
  
  .grid-item2 {
    background-image: url("https://i-d-images.vice.com/images/articles/meta/2016/11/02/meet-luna-the-star-of-the-ukranian-musical-revolution-1478099242.jpg?crop=1xw:0.423728813559322xh;center,center&resize=1000:*%201x,%20https://i-d-images.vice.com/images/articles/meta/2016/11/02/meet-luna-the-star-of-the-ukranian-musical-revolution-1478099242.jpg?crop=1xw:0.423728813559322xh;center,center&resize=2000:*%202x");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
  }
  
  .grid-item3 {
    background-image: url("https://i.pinimg.com/originals/8b/bc/75/8bbc75839a2d370b1fc464bde1c088a2.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
  }
  
  .grid-item4 {
    background-image: url("https://i.pinimg.com/564x/c5/6c/6d/c56c6d387b02269f2766e52ad9979def.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
  }
  
  .grid-item5 {
    background-image: url("https://i.pinimg.com/564x/88/76/de/8876de1279b8f924c184bcc0a6ecdee3.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
  }
  
  .grid-item6 {
    background-image: url("https://images.unsplash.com/photo-1515694581961-1fbdb6840a5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4267be6fb944c94b672e0b3ddb458286&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
  }
  
  .grid-item7 {
    background-image: url("https://images.unsplash.com/photo-1534703580202-6123d4189ef6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5478b30dec2346f00a40ab259d162068&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
  }
  
  .grid-item8 {
    background-image: url("https://i.pinimg.com/originals/dc/34/38/dc3438726cf5f2f74fd1aa1ba67bc44f.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
  }
  
  .grid  * {
    filter: grayscale(100%) blur(2px);;
  }
  