.news-item{
    background-color: rgb(35, 35, 37);
    border-radius: 10px;
    width:50%;
    padding: 10px;
    margin: auto;
    margin-top: 5%;
    outline: 1px solid white;
}
.news-item .news-text{
    margin: 3%;
}
.news-item .news-image-container img{
    width:85%;
    margin: auto;
    margin:3%;
    display: block;
}